@{
    ViewData["Title"] = "Pay detial";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int TotalPriceOne = 0;
    int PriceToPay = 0;
    var erroString = @ViewBag.ErrorToPay;//Erro message

}
<h4>@erroString</h4>