@using Clean_Architecture.Application.Services.HomePage.Queries.GetAllSlider
@model List<ResultAllSliderDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    var counter = 0;
    var imagesPerRow = 3;
}
<!-- adplacement--------------------------->
<div class="container-main">
    <div class="d-block">
        <div class="adplacement-container-row">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-6 col-lg-4 pr">
                        <a href="@item.Link" class="adplacement-item">
                            <div class="adplacement-sponsored_box">
                                <img src="~/@item.Src" width="400" height="500">
                            </div>
                        </a>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

